---
import { Image } from "astro:assets";
import icon from "../assets/icon.png";
import PageLayout from "../layouts/PageLayout.astro";
import { bg_extend, circle, vstack } from "../../styled-system/patterns";
import { css } from "../../styled-system/css";
import { DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import LinkItem from "../components/LinkItem.astro";
import Section from "../components/Section.astro";

const links = await getCollection("link");

const heading = css({
  fontWeight: "bold",
  paddingBottom: "1",
  pos: "relative",
  _before: {
    content: "''",
    pos: "absolute",
    bottom: "0",
    width: "95%",
    borderBottom: "1px solid {colors.text.dark}",
  },
  _after: {
    content: "''",
    pos: "absolute",
    bottom: "-3px",
    left: "95%",
    width: "3",
    height: "3",
    bg: "text.dark",
    transform: "rotate(45deg)",
  },
});

const profile_item = vstack({ gap: "6", alignItems: "stretch" });
---

<PageLayout title={["ABOUT"]} pageType="profile">
  <div
    class={vstack({
      gap: "52",
      fontSize: "4xl",
      maxWidth: "max.width.container",
      marginInline: "auto",
    })}
  >
    <Section heading="ABOUT">
      <div class={vstack({ gap: "32", alignItems: "stretch" })}>
        <div class={vstack({ gap: "14" })}>
          <Image
            src={icon}
            alt="にとのアイコンです"
            class={circle({
              size: "xs",
              opacity: "0",
              _loaded: { animation: "slide_in", animationDelay: "0.3s" },
            })}
          />
          <p
            class={bg_extend({
              fontFamily: "metro",
              fontSize: "7xl",
              lineHeight: "0.9",
            })}
          >
            <span>NITO</span>
          </p>
          <p>
            {DESCRIPTION}
          </p>
        </div>
        <div
          class={vstack({
            gap: "16",
            alignItems: "stretch",
          })}
        >
          <div class={profile_item}>
            <h2 class={heading}># 趣味、好きなもの</h2>
            <p>プログラミング、作曲、音ゲー、ベース</p>
          </div>
          <div class={profile_item}>
            <h2 class={heading}># 触ったことのある言語・技術</h2>
            <p>C#, Java, Lua, TypeScript, Vue.js, Astro, etc...</p>
          </div>
        </div>
      </div>
    </Section>
    <Section heading="LINKS">
      <ul class={vstack({ gap: "12", alignItems: "stretch", width: "100%" })}>
        {
          links[0].data.map((item) => (
            <li>
              <LinkItem {...item} />
            </li>
          ))
        }
      </ul>
    </Section>
  </div>
</PageLayout>
