---
import { css } from "../../styled-system/css";
import { divider } from "../../styled-system/patterns";
import { toDateString } from "../utils";

interface Props {
  date: Date;
}
const { date } = Astro.props;

const blog_item = css({
  border: "normal",
  borderRadius: "4xl",
  width: "100%",
  paddingInline: "7",
  background: "bg",
  transition: "transform 0.3s {easings.easeOutExpo}",
  "& > div": {
    transition: "all 0.3s {easings.easeOutExpo}",
    pos: "relative",
    right: "0",
    left: "auto",
  },
  _hover: {
    color: "text.gray",
    "& > p": {
      textDecoration: "underline",
    },
    "& > div": {
      width: "90%",
    },
  },
});
---

<div class={blog_item}>
  <time
    datetime={date.toISOString()}
    class={css({
      paddingBlock: "4",
      display: "inline-block",
    })}
  >
    {toDateString(date)}
  </time>
  <div class={divider({})}></div>
  <p class={css({ paddingBlock: "6", fontWeight: "500" })}><slot /></p>
</div>
