---
import { css } from "../../../styled-system/css";
import { vstack } from "../../../styled-system/patterns";
import WorkItem from ".././WorkItem.astro";
import { getSlugFromId, getWorks } from "../../utils/collections";

const swiper_container = vstack({
  gap: "16",
});
const swiper = css({
  width: "100%",
  cursor: "grab",
  overflow: "visible",
});
const swiper_slide = css({
  maxWidth: "min({sizes.3xl}, 80vw)",
  px: "3vw",
  height: "auto",
  opacity: "0",
  md: {
    px: "20",
  },
});
const swiper_pagination = css({
  pos: "relative",
  fontSize: "2xl",
  "& .swiper-pagination-bullet": {
    opacity: "0.5",
    bg: "bg",
    width: "1em",
    height: "1em",
    "&.swiper-pagination-bullet-active": {
      opacity: "1",
      bg: "#d4ff0b",
    },
    transition: "transform 0.5s {easings.easeOutExpo}",
    _hover: {
      transform: "translateY(-3px)",
    },
  },
});

const works = (await getWorks()).slice(0, 6);
---

<div class={swiper_container}>
  <div class:list={["swiper", swiper]}>
    <div class:list={["swiper-wrapper"]}>
      {
        works.map((item) => (
          <div class:list={["swiper-slide", swiper_slide]}>
            <WorkItem
              image={item.data.icon}
              name={item.data.name}
              href={
                item.data.url
                  ? item.data.url
                  : `/works/${getSlugFromId(item.id)}`
              }
            >
              {item.data.description}
            </WorkItem>
          </div>
        ))
      }
    </div>
  </div>
  <div class:list={["swiper-pagination", swiper_pagination]}></div>
</div>

<script>
  import Swiper from "swiper";
  import { Autoplay, Pagination } from "swiper/modules";
  Swiper.use([Autoplay, Pagination]);

  new Swiper(".swiper", {
    speed: 1200,
    slidesPerView: "auto",
    centeredSlides: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });

  import { gsap } from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  window.addEventListener("load", () => {
    gsap.fromTo(
      ".swiper-slide",
      {
        y: "10%",
        opacity: "0",
      },
      {
        y: "0%",
        opacity: "1",
        ease: "expo.out",
        scrollTrigger: {
          trigger: ".swiper-slide",
          start: "center bottom",
        },
        stagger: {
          from: "start",
          amount: 0.2,
        },
      },
    );
  });
</script>
