---
import type { InferEntrySchema } from "astro:content";
import Section from "../components/Section.astro";
import { toDateString } from "../utils";
import { css } from "../../styled-system/css";
import { markdown } from "../recipes/markdown";
import PageLayout from "./PageLayout.astro";
import type { MarkdownHeading } from "astro";

interface Props {
  frontmatter: InferEntrySchema<"blog">;
  headings: MarkdownHeading[];
}

const { frontmatter } = Astro.props;

const title = css({
  marginBottom: "20",
  paddingBottom: "6",
  pos: "relative",
  borderBottom: "1px solid {colors.text.dark}",
  fontSize: "4xl",
  textWrap: "unset",
  fontWeight: "700",
});
---

<PageLayout
  title={["BLOG", frontmatter.title]}
  pageType="article"
  ogImage={frontmatter.image}
  ogAlt={frontmatter.title}
>
  <Section heading="BLOG" href="/blog">
    <time
      datetime={frontmatter.pubDate.toISOString()}
      class={css({
        display: "block",
        marginBottom: "2",
        color: "text.gray",
      })}
    >
      {toDateString(frontmatter.pubDate)}
    </time>
    <h2 class={title}>
      {frontmatter.title}
    </h2>
    <article class={markdown({ type: "blog" })}>
      <slot />
    </article>
  </Section>
</PageLayout>
